@import "../../../Variables.module.scss";

.puzzleBox{
    width: 35%;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    h2{
        width: 98%;
        text-align: center;
    }

    &#question{
        display: none;
    }
    &#answer{
        display: flex;
    }
}